body{
    width:80%;
    margin:auto;
}
#pname{
    text-align:center
}
hr{
    height:2px;
    background-color:plum;

}
h3{
    widows:100%;
    background-color:gray;
}
table{
    width:100%;
}
table th{
    background-color:yellowgreen;
    color:white;
}
table td{
    border:1px solid rosybrown;
}
